.idea
# Ignore Gradle project-specific cache directory
.gradle/
.gradlew
gradlew
gradlew.bat
settings.gradle.kts
gradle


app/build.gradle.kts
app/file_exemples
app/build
# Ignore Gradle build output directory
build
